<template>
  <div class="about">
    <h1>Kelompok - 22</h1> <br>
    <h4>Web SPA Vue ini dibuat sebagai pemenuhan tugas akhir dari PKS Digital School</h4> <br>
    <ul>
      <li>Irsan Ramadhan</li>
      <li>Andrian Sutiadi</li>
      <li>Izzuddin Robbani</li>
    </ul>
  </div>
</template>
