<template>
  <v-container class="ma-0 pa-0" grid-list-sm>
    <div class="text-right">
      <v-btn small text to="/prays" class="blue--text">
        Semua Doa <v-icon>mdi-chevron-right</v-icon>
      </v-btn>
    </div>
    <v-layout wrap>
      <v-flex v-for="pray in prays" :key="`pray-`+pray.id" xs6 >
      <v-card :to="'/pray/' + pray.id">
        <v-img
          src="https://picsum.photos/200/300"
          class="white--text"
          height="200px"
        >
          <v-card-title 
          class="fill-height align-end"
          v-text="pray.doa"
          ></v-card-title>
      </v-img>
      </v-card>

      <v-card-actions>
          <v-progress-linear
              color="blue-grey"
              height="7">
          </v-progress-linear>
      </v-card-actions>

      <v-card-actions>
          <span>{{ pray.doa.substring(0,15) }}...</span>
      </v-card-actions>
      </v-flex>
    </v-layout>
    <!-- <button @click="increment(10)">Tambah</button>
    {{ count }}      -->
  </v-container>

</template>



<script>
export default {
  data: ()=>({
    apiDomain : '',
    prays: [],
      
  }),

  created() {
    const config = {
      method : 'get',
      url : this.apiDomain 
    }

    this.axios(config)
    .then(response => {
      let { prays } = response.data;
      this.prays = prays;
    })
    .catch(error => {
      console.log(error);
    });
  }
};

</script>


  