<template>
  
  <v-card
    class="mx-auto"
    max-width="1400"
    
  >
    <v-container fluid>
      <v-row dense>
        <v-col
          v-for="card in cards"
          :key="card.title"
          :cols="card.flex"
        >
          <v-card>
            <v-img
              :src="card.src"
              class="white--text align-end"
              gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
              height="200px"
            >
              <v-card-title v-text="card.title"></v-card-title>
            </v-img>
              <v-card-title v-text="card.content"></v-card-title>
            
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-card>
</template>

<script>
  export default {
    data: () => ({
      cards: [
        { title: 'Doa hendak berpergian',        
        content: 'اَللّٰهُمَّ هَوِّنْ عَلَيْنَا سَفَرَنَا هَذَا وَاطْوِعَنَّابُعْدَهُ اَللّٰهُمَّ اَنْتَ الصَّاحِبُ فِى السَّفَرِوَالْخَلِيْفَةُفِى الْاَهْلِ', 
        src: 'https://cdn.vuetifyjs.com/images/cards/plane.jpg', 
        flex: 6 },
        { title: 'Doa sebelum tidur',
        content:'بِسْمِكَ االلّٰهُمَّ اَحْيَا وَبِاسْمِكَ اَمُوْتُ',
        src: 'https://picsum.photos/200/300', 
        flex: 6 },
        { title: 'Doa memohon ilmu yang bermanfaat',
        content:'اَللّٰهُمَّ اِنِّى اَسْأَلُكَ عِلْمًا نَافِعًا وَرِزْقًا طَيِّبًا وَعَمَلاً مُتَقَبَّلا',
        src: 'https://picsum.photos/200/300?random=1', 
        flex: 6 },
        { title: 'Doa keluar rumah', 
        content:'بِسْمِ اللهِ تَوَكَّلْتُ عَلَى اللهِ لاَحَوْلَ وَلاَقُوَّةَ اِلاَّ بِالله',
        src: 'https://cdn.vuetifyjs.com/images/cards/road.jpg', 
        flex: 6 },
        
        
      ],
    }),
  }
</script>
