<template>
    <div>
        <v-card v-if="pray.id">
            <v-img
                :src="'https://picsum.photos/200/300'"
                class="white--text" height="300px">
              <v-card-title class="fill-height align-end" v-text="pray.doa">
              </v-card-title>
            </v-img>

            <v-card-text>
                <v-simple-table dense>
                    <tbody>
                        <tr>
                            <td><v-icon>mdi-format-title</v-icon> Nama Doa </td>
                            <td class="blue--text">{{ pray.doa }}</td>
                        </tr>
                        <tr>
                            <td><v-icon>mdi-note</v-icon> Ayat </td>
                            <td>
                                {{ pray.ayat }}
                            </td>
                        </tr>
                    </tbody>
                </v-simple-table>
            </v-card-text>
            
        </v-card>
      </div>

</template>

<script>
export default{
    data : () => ({
        pray: {},
        apiDomain : '',
    }),
    
    methods : {
    go(){

      let { id } = this.$route.params;

      const config = {
        method : 'get',
        url : `${this.apiDomain}${id}`
      }

      this.axios(config)
        .then(response => {
          let { pray } = response.data;
          console.log(pray.photo)
          this.pray = pray;          
        })
        .catch(error => {
            console.log(error);
        });
    }
  },
  created() {
    this.go();
  },
    
};

</script>
