<template>
  <!-- App.vue -->
  <v-app>

   <Alert/>
    <Dialog/>

    <v-navigation-drawer app v-model="drawer">
      <v-list>
        <v-list-item v-if="!guest">
          <v-list-item-avatar>
              <v-img src="https://tinyurl.com/2p85e5tw"></v-img>
          </v-list-item-avatar>
          <v-list-item-content>
              <v-list-item-title>Andrian Sutiadi</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <div class="pa-2" v-if="guest">
          <v-btn block color="primary" class="mb-1" @click="login">
              <v-icon left>mdi-key-variant</v-icon>
              Login
          </v-btn>
          <v-btn block color="orange" dark>
              <v-icon left>mdi-account-plus</v-icon>
              Register
          </v-btn>
        </div>

        <v-divider></v-divider>

        <v-list-item
            v-for="(item, index) in menus"
            :key="`menu-${index}`"
            :to="item.route"
            >
          <v-list-item-icon>
              <v-icon left>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
              <v-list-item-title>{{ item.title }}</v-list-item-title>          
          </v-list-item-content>
        </v-list-item>
        
      </v-list>
      
      <template v-slot:append v-if="!guest">
        <div class="pa-2">
          <v-btn block color="red" dark @click="logout">
            <v-icon left>mdi-lock</v-icon>
                Logout
          </v-btn>
        </div>
      </template> 

    </v-navigation-drawer>

    <v-app-bar app dark prominent
      src="https://cdn.vuetifyjs.com/images/backgrounds/vbanner.jpg">
        <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
        
        <v-toolbar-title>KUMPULAN DOA-DOA HARIAN</v-toolbar-title>

        <!-- pemisah konten -->
        <v-spacer></v-spacer>

    </v-app-bar>

    <!-- Sizes your content based upon application components -->
    <v-main>

      <v-container fluid>
        <v-slide-y-transition>
          <!-- If using vue-router -->
          <router-view></router-view>
        </v-slide-y-transition>
      </v-container>
    </v-main>

    <v-footer app color=blue dark>
      @Tugas Final Project II : VueJS | copyright by Kelompok-22
    </v-footer>
  </v-app>
</template>

<script>

import { mapActions } from 'vuex'


export default {
  name: 'App',
  components: {
    Alert : () =>import('./components/Alert.vue'),
    // Dialog: () =>import('./components/Dialog.vue')
  },

  data: () => ({
    drawer : true,
    menus : [
      {title : 'Home' , icon : 'mdi-home-outline', route : '/'},
      {title : 'Prays' , icon : 'mdi-mosque', route : '/prays'},
      {title : 'About' , icon : 'mdi-information-outline', route : '/about'},
    ],
    
    guest : true,
    // snackbarStatus : false,
    // snackbarText : 'Anda berhasil login'
  }),


  methods : {
    logout(){
      this.guest = true
      this.setAlert({
        status : true,
        color  : 'success',
        text   : 'Anda berhasil logout'
      })
    },
    login(){
      this.guest = false
      this.setAlert({
        status : true,
        color  : 'success',
        text   : 'Anda berhasil login'
      })
    },
      ...mapActions({
      setAlert            : 'alert/set',
      }),
  }
}
</script>
